body  {
	font-family:"Comic Sans MS", cursive;
	
	background:lightgreen;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color:green;
}
.twoColFixRtHdr #container { 
	width: 780px;  
	background: #FFFFFF;
	margin: 0 auto; 
	border-radius:4px;
	text-align: left;
} 

.twoColFixRtHdr #sidebar1 {
	float: right; 
	width: 200px;
	border-left:1px;
	
	padding: 15px 10px;
}
.twoColFixRtHdr #mainContent { 
	margin: 0 250px 0 0; 
	padding: 0 20px;
} 
.twoColFixRtHdr #footer { 
	padding: 0 10px 0 20px;
	background:#DDDDDD; 
} 
.twoColFixRtHdr #footer p {
	margin: 0;
	padding: 10px 0; 
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.twoColFixRtHdr #sidebar1 { width: 220px; }
.twoColFixRtHdr #sidebar1 { padding-top: 30px; }
.twoColFixRtHdr #mainContent { zoom: 1; }
</style>
<style>
.input{
	color:green;
	border:1px solid green;
	font:15px "Comic Sans MS", cursive;
	border-radius:4px;
	height:25px;
	font-style:italic;
	cursor:text;
	}
.input:focus{
	border:2px solid green;}
	
.btn{
	display:inline-block;
	font-size:15px;
	font-weight:bold;
	font-family:"Comic Sans MS";
	color:green;
	text-shadow:0 1px 1px rgba(255,255,255,.5);
	background-color:yellow;
	background-repeat:no-repeat;
	border:1px solid darkgreen;
	cursor:pointer;
	border-radius:4px;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.5);
	box-shadow:0 1px 0 rgba(255,255,255,.5);
	margin-top:2px;
	
}
.btn{
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF0),color-stop(100%,#FFF));
	background-image:-webkit-linear-gradient(#FF0,#FFF);
	}
.btn:hover{
	text-decoration:none;
	background-color:#CF0;
	background-image:-moz-linear-gradient(#FF0,#FFF);
	background-image:-ms-linear-gradient(#FF0,#FFF);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF0),color-stop(100%,#FFF));
	background-image:-webkit-linear-gradient(#CC3,#FF0);
	background-image:-o-linear-gradient(#FF0,#FFF);
	background-image:linear-gradient(#FF0,#FFF);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-color:#030;
	color:#030;}
.btn:active{
	border-color:#bbb;
	background-image:none;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.5);
	box-shadow:inset 0 2px 4px rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.5)
	}
.btn{
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF0),color-stop(100%,#FFF));
	background-image:-webkit-linear-gradient(#FF0,#CC3);
	margin-top:5px;
	margin-bottom:5px;
	}

#freespace{

	height:10%;
	visibility:hidden;}
#box{
	margin:20px;
	color:#ffffff;
	border-radius:10px;
	width:100px;
	height:75px;
	font-family:gabriola;
	font-size:30px;
	border:2px solid green;
	width:300px;
	color:green;
	background:yellow;
	padding:5px;
	-webkit-border-radius:25px;
	-webkit-box-shadow:rgb(110,110,110) 8px 8px 8px;
	text-align: center;
	-webkit-transition:-webkit-transform 2s, opacity 2s, background 2s, width 2s, height 2s;
	}/*
#box:hover{
	-webkit-transform: rotate(360deg);
	opacity: 1;
	background:yellow;
	width:450px;
	height:110px;
	
	}*/
